* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding: 16px 32px;
}

.container {
  display: flex;
  max-width: 65vw;
}

.container .subcontainer.week {
  display: flex;
  flex-wrap: wrap;
}

.container .subcontainer.notes {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
}

.container .head {
  flex-basis: 100%;
  font-weight: bold;
}

.item {
  padding: 8px 12px;
  border: 1px solid black;
  justify-items: stretch;
  flex-grow: 1;
  text-align: center;
}

.container .work-day {
  flex-basis: 20%;
}

.container .weekend {
  flex-basis: 50%;
}

.container .subcontainer.week .item {
    height: 20vh;
}

.container .subcontainer.notes .item {
    height: 40vh;
    font-weight: bold;
}
