@font-face {
  font-family: "ShadowsIntoLight-Regular";
  src: url(fonts/ShadowsIntoLight-Regular.ttf);
}

p {
  /* font-family: "Arial", "Helvetica", "sans-serif"; */
  /* font-family: "Courier New", "Courier", "monospace"; */
  font-family: "ShadowsIntoLight-Regular", cursive;

  font-size: 12;
}

.main-ul {
  font-size: 20px;
}

.main-ul li {
  font-size: 1.2em;
}

html {
  font-size: 14px;
}

.main-ul li {
  font-size: 1.5rem;
}

.example-3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: oblique;
  text-align: justify;
  /* text-decoration: line-through; */
  text-indent: 15px;

  letter-spacing: 0.8px;
  line-height: 1.5;
}

.example-4 {
  font-size: 21px;
  /* text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-transform: capitalize;
  word-break: normal;
  color: red;
  background-color: rgb(234, 0, 255); */
  cursor: pointer;
  /* outline: 1px solid red; */
}
