* {
  box-sizing: border-box;
}

html {
  font-family: Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(238, 238, 238);
  height: 100vh;
  /* padding: 12px 32px; */

  gap: 12px;
}

header {
  text-transform: uppercase;
  border-bottom: 2px solid black;
}
main {
  padding: 12px 32px;
}

h2,
p {
  margin-top: 12px;
  margin-bottom: 12px;
}

footer {
  background-color: rgb(102, 102, 102);
  color: rgb(255, 255, 255);
  padding: 0px 32px;
}
